[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
pytest-asyncio = "*"
requests-mock = "*"
pytest-datadir = "*"
pytest-benchmark = "*"
types-requests = "*"
types-pytz = "*"
types-setuptools = "*"
ruff = "*"
mygeotab = {path = ".", editable = true}

[packages]
mygeotab = {editable = true, path = "."}
aiohttp = "*"

[pipenv]
allow_prereleases = true
