[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
mygeotab = {editable = true,path = "."}
mypy = {markers = "python_version >= '3.5'",version = "*"}
pytest-asyncio = {markers = "python_version >= '3.5'",version = "*"}
sphinx = {markers = "python_version >= '3'",version = "*"}
sphinx-rtd-theme = {markers = "python_version >= '3'",version = "*"}
black = {markers = "python_version >= '3.6'",version = "*"}
requests-mock = "*"
pytest-datadir = "*"
pytest-benchmark = "*"
pytest-monkeytype = {markers = "python_version >= '3.6'",version = "*"}
pandas = "*"

[packages]
mygeotab = {editable = true,path = "."}

[pipenv]
allow_prereleases = true
